body {
    /* font-family: Raleway,sans-serif; */
    /* font-family: Poppins, sans-serif; */
    font-weight: 400;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#logo {
    width: 130px;
    padding-left: 40px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 50px;
    background-color:rgba(0, 0, 0, 0.753);
    position: fixed;
    width: 100vw;
   
}

#nav-links {
    display: flex;
    column-gap: 30px;
    font-size: medium;
    color:white
    /* padding: 27.2px; */
    /* padding-left: -100px; */

}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

header span {
    font-size: 80px;
    color: white;
    color: white;
}

#hero {
    background-image: url(../assets/images/he.jpg);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero-overlay {
    background-color: rgba(0, 0, 0, 0.233);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

.search-container {
    display: flex;
    padding: 6px 5px 6px 30px;
    border-radius: 0;
    background: transparent;
padding-left: -50px;
align-items: center;
justify-content:center ;
}
.search-container input{
    border: none;
    border-radius: 18px;
    padding: 8px;
}
.search-container i{
    background: transparent;
    color: white;
    padding-left: 8px;
}

#About {
    height: 70vh;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    /* margin: auto; */
    align-items: center;
    width: 100%;
    background-color: #F4F1EB;

}

.about-image {
    width: 400px;
    height: 400px;
    padding-right: 180px;
    transition: transform 0.5s;
}
.about-image:hover{
 transform: scale(1.1);
}

.about-image img {
    width: 120%;
    height: inherit;
    border-radius: 10px;


}

.about-content {
    max-width: 500px;
}

.about-content h2 {
    font-family: Amethysta;
}

.about-content p {
    padding: 20px 0;
    font-family: Amiri;
    line-height: 1.8;
    font-size: 1.05rem;
}

#latest {
    background-color: rgba(78, 53, 78, 0.568);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    padding: 100px 0px;
}

#latest h2 {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    font-family: Amethysta;
}
.btn{
    display: flex;
    width: 200px;
    /* padding: 10px 5px; */
    border: none;
    border-radius: 18px;
    justify-content: center;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

}

.grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.item1 {
    grid-row-start: 1;
    grid-row-end: 3;
    height: 600px;
}

.item2 {
    height: 300px;
}

.item3 {
    grid-row-start: 2;
    grid-row-end: 5;
    height: 600px;
}

.item4 {
    height: 300px;
}

/* footer */
.flex-container {
    padding: 0 15px;
    background-color: #997a7a;
    width: 100%;
}

.f-container {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}

#service {
    background-color: #f3ede0;
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
    align-items: center;
    width: 100%;
    height: 75vh;
    padding: 80px;
}

.service-p {
    max-width: 500px;
    padding: 20px 0;
    font-family: Amiri;
    line-height: 1.8;
    font-size: 1.05rem;
}

.service-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    padding-right: 150px;
}

.service-grid p {
    padding: 10px 0;
    font-family: Amiri;
    line-height: 1.4;
    font-size: 1.05rem;
    color: #454a4e;
}

.service-grid h3 {
    font-size: 1.2rem;
    font-weight: 400;
    color: #000;
}



